
*.gif
*.xml
*.log
*.tif
*.sqlite
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.vrt
*.hdr
*.tfw
Output/demo_pre/LOG_0
Output/demo_pre/ERROR_LOG_0
Output/demo/LOG_0
*.data0
Output/demo_pre/ERROR_LOG_1886404959
*.demo_calibrate
*.demo_predict
*.demo_test
Notepad2.exe
